@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
body {
  background-color: rgb(238, 238, 238);
}
body p {
  font-size: 18px;
}
body h1 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(245, 239, 231);
}
a:hover {
  color: rgb(216, 196, 182);
}

header a:hover {
  color: rgb(216, 196, 182) !important;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  background-color: black !important;
  margin: 10px;
  margin-top: 0px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
header .navbar a {
  font-size: large;
  font-weight: 700;
  padding-right: 10px;
}
header .navbar .container-fluid .stylecode-logo {
  font-size: 30px;
}

.footer {
  width: 100%;
  background-color: black;
}
.footer .caja-footer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 30px 0px;
}
.footer .caja-footer .boxes figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer .caja-footer .boxes figure img {
  width: 250px;
}
.footer .caja-footer h2 {
  display: flex;
  align-items: center;
  color: rgb(252, 41, 71);
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .caja-footer p {
  color: rgb(245, 239, 231);
  margin-bottom: 10px;
  font-weight: 700;
}
.footer .caja-footer .REDES a {
  display: flex;
  margin-bottom: 10px;
  font-weight: 600;
  padding: 10px;
}
.footer .caja-footer .REDES a:hover {
  color: rgb(216, 196, 182);
}

main {
  background: radial-gradient(grey, whitesmoke);
  height: 100%;
}
main section.Titulo-Con-Fondo {
  display: flex;
  justify-content: center;
  height: 120dvh;
  color: rgb(245, 239, 231);
  text-align: center;
  font-size: 70px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondoheader.jpg);
  background-size: cover;
  background-position: center center;
  margin: 10px;
  padding-top: 100px;
  border-radius: 10px;
}
main section.Titulo-Con-Fondo .titulo-banner {
  font-size: 70px;
}
main section {
  margin: 30px 10px;
}
main #Imagen1ytexto .Contenedor {
  display: flex;
  margin-bottom: 20px;
}
main div.Descripcion-Imagen {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center center;
  margin: 0 30px;
  padding: 60px;
}
main .Contenedor .Imagen-1 img {
  border-radius: 10px;
}
main #EligeTuEstilo {
  display: flex;
  margin: 30px 0 20px;
}
main #EligeTuEstilo .Texto-imagen-2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center center;
  margin: 0 30px;
  padding: 60px;
}
main #EligeTuEstilo .Imagen2 {
  height: 600px;
  width: 400px;
  margin-right: 10px;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 700px) {
  nav {
    padding: 10px 0;
    font-size: 2px;
  }
  main {
    flex-direction: column;
  }
  section.fondo {
    background-color: whitesmoke;
    border-radius: 10px;
    margin-right: 10px;
  }
  #EligeTuEstilo {
    flex-direction: column;
    align-items: center;
  }
  #EligeTuEstilo .Imagen2 {
    height: 100%;
    width: 98%;
  }
  #Moda {
    flex-direction: column;
    align-items: center;
  }
  #Moda .modasection {
    align-items: center;
  }
}
#bodyarte {
  background: radial-gradient(grey, whitesmoke);
}

#mainarte {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 10px;
  height: 100%;
  background: transparent;
}
#mainarte .h1-arte {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainarte p {
  color: black;
  margin-top: 10px;
}
#mainarte .carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#mainarte .carrusel .carousel {
  width: 80%;
  max-width: 800px;
}
#mainarte .carrusel .carousel .carousel-inner {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
#mainarte .galeria {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainarte .galeria .caja-galeria {
  width: 100%;
  margin: auto;
}
#mainarte .galeria .caja-galeria img {
  border: 3px solid black;
  width: 90%;
  border-radius: 10px;
  transition: scale 400ms;
}
#mainarte .galeria .caja-galeria img:hover {
  cursor: pointer;
  scale: 120%;
}
#mainarte .link-pexels {
  text-align: center;
  flex-direction: column;
}
#mainarte .link-pexels button {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(207, 7, 37);
  color: #fff;
  text-decoration: none;
}
#mainarte .link-pexels button:hover {
  background-color: rgb(252, 41, 71);
}
#mainarte .columnas {
  margin: 10px;
}
#mainarte .galeria .caja-galeria {
  display: grid;
  -moz-column-gap: 1px;
       column-gap: 1px;
  padding-right: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
}
@media (min-width: 519px) {
  #mainarte .galeria .caja-galeria {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (min-width: 520px) {
  #mainarte .galeria .caja-galeria {
    grid-template-columns: repeat(3, 33%);
  }
}
@media (min-width: 700px) {
  #mainarte .galeria .caja-galeria {
    grid-template-columns: repeat(4, 25%);
  }
}

@media screen and (max-width: 700px) {
  .footer .caja-footer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 20px 0px;
    margin-left: 10px;
    padding: 10px;
  }
  section.Titulo-Con-Fondo {
    background-position: center center;
  }
  #Imagen1ytexto .Contenedor {
    display: flex;
    flex-direction: column;
  }
  #Imagen1ytexto .Contenedor img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
.body-proyectos {
  background: radial-gradient(grey, whitesmoke);
}
.body-proyectos .main-portafolio {
  overflow-x: hidden;
}
.body-proyectos .main-portafolio .proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.body-proyectos .main-portafolio .proyectos h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-proyectos .main-portafolio .proyectos .row {
  padding: 10px;
  margin: 10px;
}
.body-proyectos .main-portafolio .proyectos .row .card {
  width: 18rem;
}
.body-proyectos .main-portafolio .proyectos .row .card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-proyectos .main-portafolio .proyectos .row .card .card-text {
  text-align: center;
}
.body-proyectos .main-portafolio .proyectos .row .card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-aboutme {
  background: #191919;
}

#mainabout {
  background: transparent;
}

.about-section {
  width: 100%;
  padding: 80px 0px;
  border-radius: 10px;
}
.about-section img {
  height: auto;
  width: 420px;
  border-radius: 10px;
}
.about-section .about-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-section .about-me .descripcion-personal {
  width: 500px;
}
.about-section .about-me .descripcion-personal h1 {
  color: rgb(245, 239, 231);
  font-size: 80px;
  text-transform: capitalize;
  margin: 10px;
}
.about-section .about-me .descripcion-personal h2 {
  color: rgb(245, 239, 231);
  font-size: 25px;
  text-transform: capitalize;
  margin: 10px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.about-section .about-me .descripcion-personal h2 span {
  color: rgb(252, 41, 71);
}
.about-section .about-me .descripcion-personal p {
  color: rgb(245, 239, 231) !important;
  letter-spacing: 1px;
  line-height: 30px;
}
.about-section .about-me .descripcion-personal button {
  color: rgb(245, 239, 231);
  background: rgb(252, 41, 71);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.about-section .about-me .descripcion-personal button:hover {
  background: transparent;
  border: 2px solid rgb(252, 41, 71);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .about-section img {
    width: 80%;
    margin: 0 auto;
  }
  .about-section .about-me {
    flex-direction: column;
  }
  .about-section .about-me .descripcion-personal {
    width: 80%;
  }
  .about-section .about-me .descripcion-personal h1 {
    font-size: 60px;
  }
  .about-section .about-me .descripcion-personal h2 {
    font-size: 20px;
  }
}
#main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/img/fondo.jpg);
  background-size: cover;
  background-position: center;
}

.wrapp {
  border-radius: 10px;
  width: 420px;
  padding: 30px 40px;
  background: transparent;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: rgb(245, 239, 231);
}
.wrapp h1 {
  text-align: center;
}
.wrapp .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.wrapp .input-box input {
  padding: 20px 30px 20px 20px;
  color: rgb(245, 239, 231);
  height: 100%;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border: 2px solid rgb(245, 239, 231);
  border-radius: 40px;
}
.wrapp .input-box input::-moz-placeholder {
  color: rgb(245, 239, 231);
}
.wrapp .input-box input::placeholder {
  color: rgb(245, 239, 231);
}
.wrapp .input-box i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.wrapp .recordar {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
}
.wrapp .recordar label input {
  accent-color: rgb(245, 239, 231);
  margin: 3px;
}
.wrapp .recordar a:hover {
  text-decoration: underline;
}
.wrapp .boton-login {
  border-radius: 40px;
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  background: rgb(245, 239, 231);
}
.wrapp .registrarse {
  text-align: center;
  margin: 20px 0 15px;
}
.wrapp .registrarse p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 700px) {
  .wrapp {
    width: 90%;
  }
  .wrapp .input-box input {
    padding: 15px 25px;
  }
  .wrapp .boton-login {
    height: 35px;
    font-size: 14px;
  }
  .wrapp .registrarse p {
    font-size: 14px;
  }
}/*# sourceMappingURL=estilos.css.map */